@font-face {
  font-family: odin-font;
  src: url(Norse-Bold.otf);
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.left {
  display: flex;
  flex-direction: column;
  background-image: url('image/background.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.left h1 {
  font-family: odin-font, sans-serif;
  color: white;
  margin: auto;
}

.left footer {
  color: white;
  margin-top: auto;
}